# Web Server
fastapi
uvicorn[standard]
python-multipart
requests
pyjwt

# Computer Vision & Logic
opencv-python-headless
pillow
numpy

# Model (The CPU version is safer for Render Free Tier)
ultralytics
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

# Frontend
streamlit>=1.40.0
pydantic
